@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.header {
    background-color: #1F2937;
    color: #f9faf8;
    height: 500px;
    justify-content: space-between;
    align-items: center;
}
.head1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: F9FAF8;
    font-size: 24px;
    font-weight: 900;
    padding-left: 250px;
}

.links {
    list-style-type: none;
    padding-right: 250px;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 30px;
}

.head2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px;
    padding-left: 150px;

}

.title {
    font-size: 48px;
    font-weight: 900;
    width: 400px;
}

.titletext {
    width: 400px;
}

button {
    width: 100px;
    height: 30px;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 10px;
    font-weight: bold;
    
}

.headpic {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    width: 750px;
    height: 250px;
}

.center1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500;
    padding-bottom: 75px;
}

.centerhead {
    font-weight: 900;
    font-size: 28px;
    margin: 25px;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.box1, .box2, .box3, .box4 {
    border: 2px solid #3882f6;
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

.boxt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 10px;
}

.box1t, .box2t, .box3t, .box4t {
    width: 200px;
}

.qbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    background: lightgray;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    width: 750px;
}

.author {
    display: flex;
    justify-content: right;
    font-weight: 900;
    width: 750px;
    
    
}

.section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    
}

.secbox {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #3882f6;
    border-radius: 10px;
    background-color: #3882f6;
    width: 1000px;
    height: 150px;
    gap: 100px;
}

.cta1 {
    color: #e5e7eb;
    font-weight: bolder;
    font-size: larger;
}

.cta2 {
    color: #e5e7eb;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    height: 100px;
}

.footert {
    color: #e5e7eb;
}